<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmrh.journey.system.app.mapper.ApplicationMapper">
    <resultMap type="com.cmrh.journey.system.pojo.domain.Application" id="applicationResultMap">
        <result property="id" column="ID"/>
        <result property="applicationNameEnglish" column="APPLICATION_NAME_ENGLISH"/>
        <result property="applicationNameChinese" column="APPLICATION_NAME_CHINESE"/>
        <result property="applicationIp" column="APPLICATION_IP"/>
        <result property="sAddTime" column="S_ADD_TIME"/>
        <result property="sUpdateTime" column="S_UPDATE_TIME"/>
        <result property="sDeleteTime" column="S_DELETE_TIME"/>
        <result property="sAddUserId" column="S_ADD_USER_ID"/>
        <result property="sUpdateUserId" column="S_UPDATE_USER_ID"/>
        <result property="sDeleteUserId" column="S_DELETE_USER_ID"/>
        <result property="sDeleteFlag" column="S_DELETE_FLAG"/>
        <result property="sRemark" column="S_REMARK"/>
    </resultMap>

    <sql id="table_columns">
            ID,
            APPLICATION_NAME_ENGLISH,
            APPLICATION_NAME_CHINESE,
            APPLICATION_IP,
            S_ADD_TIME,
            S_UPDATE_TIME,
            S_DELETE_TIME,
            S_ADD_USER_ID,
            S_UPDATE_USER_ID,
            S_DELETE_USER_ID,
            S_DELETE_FLAG,
            S_REMARK
    </sql>
    <sql id="entity_properties">
            #{id},
            #{applicationNameEnglish},
            #{applicationNameChinese},
            #{applicationIp},
            #{sAddTime},
            #{sUpdateTime},
            #{sDeleteTime},
            #{sAddUserId},
            #{sUpdateUserId},
            #{sDeleteUserId},
            #{sDeleteFlag},
            #{sRemark}
    </sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="id != null and id != 0">and ID = #{id}</if>
            <if test="applicationNameEnglish != null and applicationNameEnglish != ''">and APPLICATION_NAME_ENGLISH =
                #{applicationNameEnglish}
            </if>
            <if test="applicationNameChinese != null and applicationNameChinese != ''">and APPLICATION_NAME_CHINESE =
                #{applicationNameChinese}
            </if>
            <if test="applicationIp != null and applicationIp != ''">and APPLICATION_IP = #{applicationIp}</if>
            <if test="sAddTime != null">and S_ADD_TIME = #{sAddTime}</if>
            <if test="sUpdateTime != null">and S_UPDATE_TIME = #{sUpdateTime}</if>
            <if test="sDeleteTime != null">and S_DELETE_TIME = #{sDeleteTime}</if>
            <if test="sAddUserId != null and sAddUserId != 0">and S_ADD_USER_ID = #{sAddUserId}</if>
            <if test="sUpdateUserId != null and sUpdateUserId != 0">and S_UPDATE_USER_ID = #{sUpdateUserId}</if>
            <if test="sDeleteUserId != null and sDeleteUserId != 0">and S_DELETE_USER_ID = #{sDeleteUserId}</if>
            <if test="sDeleteFlag != null">and S_DELETE_FLAG = #{sDeleteFlag}</if>
            <if test="sRemark != null and sRemark != ''">and S_REMARK = #{sRemark}</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.cmrh.journey.system.pojo.domain.Application">
        insert into application(
        <include refid="table_columns"/>
        )
        values (
        <include refid="entity_properties"/>
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into application(
        <include refid="table_columns"/>
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.applicationNameEnglish},
            #{item.applicationNameChinese},
            #{item.applicationIp},
            #{item.sAddTime},
            #{item.sUpdateTime},
            #{item.sDeleteTime},
            #{item.sAddUserId},
            #{item.sUpdateUserId},
            #{item.sDeleteUserId},
            #{item.sDeleteFlag},
            #{item.sRemark}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from application
        where id = #{id}
    </delete>

    <update id="deleteBatch">
        update application set S_DELETE_FLAG = 1
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteLogic" parameterType="java.lang.Long">
        update application set S_DELETE_FLAG = 1
        where id = #{id}
    </update>

    <update id="update" parameterType="com.cmrh.journey.system.pojo.domain.Application">
        update application
        <trim prefix="set" suffixOverrides=",">
            <if test="applicationNameEnglish != null and applicationNameEnglish != ''">APPLICATION_NAME_ENGLISH =
                #{applicationNameEnglish},
            </if>
            <if test="applicationNameChinese != null and applicationNameChinese != ''">APPLICATION_NAME_CHINESE =
                #{applicationNameChinese},
            </if>
            <if test="applicationIp != null and applicationIp != ''">APPLICATION_IP = #{applicationIp},</if>
            <if test="sAddTime != null">S_ADD_TIME = #{sAddTime},</if>
            <if test="sUpdateTime != null">S_UPDATE_TIME = #{sUpdateTime},</if>
            <if test="sDeleteTime != null">S_DELETE_TIME = #{sDeleteTime},</if>
            <if test="sAddUserId != null and sAddUserId != 0">S_ADD_USER_ID = #{sAddUserId},</if>
            <if test="sUpdateUserId != null and sUpdateUserId != 0">S_UPDATE_USER_ID = #{sUpdateUserId},</if>
            <if test="sDeleteUserId != null and sDeleteUserId != 0">S_DELETE_USER_ID = #{sDeleteUserId},</if>
            <if test="sDeleteFlag != null">S_DELETE_FLAG = #{sDeleteFlag},</if>
            <if test="sRemark != null and sRemark != ''">S_REMARK = #{sRemark},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            update application
            <trim prefix="set" suffixOverrides=",">
                <if test="item.applicationNameEnglish != null and item.applicationNameEnglish != ''">
                    APPLICATION_NAME_ENGLISH = #
                    {item.applicationNameEnglish},
                </if>
                <if test="item.applicationNameChinese != null and item.applicationNameChinese != ''">
                    APPLICATION_NAME_CHINESE = #
                    {item.applicationNameChinese},
                </if>
                <if test="item.applicationIp != null and item.applicationIp != ''">APPLICATION_IP = #
                    {item.applicationIp},
                </if>
                <if test="item.sAddTime != null">S_ADD_TIME = #{item.sAddTime},</if>
                <if test="item.sUpdateTime != null">S_UPDATE_TIME = #{item.sUpdateTime},</if>
                <if test="item.sDeleteTime != null">S_DELETE_TIME = #{item.sDeleteTime},</if>
                <if test="item.sAddUserId != null and item.sAddUserId != 0">S_ADD_USER_ID = #
                    {item.sAddUserId},
                </if>
                <if test="item.sUpdateUserId != null and item.sUpdateUserId != 0">S_UPDATE_USER_ID = #
                    {item.sUpdateUserId},
                </if>
                <if test="item.sDeleteUserId != null and item.sDeleteUserId != 0">S_DELETE_USER_ID = #
                    {item.sDeleteUserId},
                </if>
                <if test="item.sDeleteFlag != null">S_DELETE_FLAG = #{item.sDeleteFlag},</if>
                <if test="item.sRemark != null and item.sRemark != ''">S_REMARK = #
                    {item.sRemark},
                </if>
            </trim>
            <where>id = #{item.id}</where>
        </foreach>
    </update>

    <select id="findAll" resultMap="applicationResultMap">
        select
        <include refid="table_columns"/>
        from application
        ORDER BY id
    </select>

    <select id="findList" resultMap="applicationResultMap">
        select
        <include refid="table_columns"/>
        from application
        <include refid="page_where"/>
    </select>

    <select id="getCount" resultType="int">
        select count(id) from application
        <include refid="page_where"/>
    </select>


    <select id="get" resultMap="applicationResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_columns"/>
        from application
        where id = #{id}
    </select>

    <!-- 其他自定义SQL -->
</mapper>
