<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbh.journey.system.app.mapper.LoginNoMapper">
    <resultMap type="com.pbh.journey.system.pojo.domain.LoginNo" id="loginNoResultMap">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="userAccount" column="USER_ACCOUNT"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="type" column="TYPE"/>
        <result property="wechatUnionId" column="WECHAT_UNION_ID"/>
        <result property="addTime" column="ADD_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="deleteTime" column="DELETE_TIME"/>
        <result property="addUserId" column="ADD_USER_ID"/>
        <result property="updateUserId" column="UPDATE_USER_ID"/>
        <result property="deleteUserId" column="DELETE_USER_ID"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="remark" column="REMARK"/>
    </resultMap>

    <sql id="table_columns">
            ID,
            USER_ID,
            USER_ACCOUNT,
            USER_PWD,
            TYPE,
            WECHAT_UNION_ID,
            ADD_TIME,
            UPDATE_TIME,
            DELETE_TIME,
            ADD_USER_ID,
            UPDATE_USER_ID,
            DELETE_USER_ID,
            DELETE_FLAG,
            REMARK
    </sql>
    <sql id="entity_properties">
            #{id},
            #{userId},
            #{userAccount},
            #{userPwd},
            #{type},
            #{wechatUnionId},
            #{addTime},
            #{updateTime},
            #{deleteTime},
            #{addUserId},
            #{updateUserId},
            #{deleteUserId},
            #{deleteFlag},
            #{remark}
    </sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="id != null and id != 0">and ID = #{id}</if>
            <if test="userId != null and userId != 0">and USER_ID = #{userId}</if>
            <if test="userAccount != null and userAccount != ''">and USER_ACCOUNT = #{userAccount}</if>
            <if test="userPwd != null and userPwd != ''">and USER_PWD = #{userPwd}</if>
            <if test="type != null">and TYPE = #{type}</if>
            <if test="wechatUnionId != null and wechatUnionId != ''">and WECHAT_UNION_ID = #{wechatUnionId}</if>
            <if test="addTime != null">and ADD_TIME = #{addTime}</if>
            <if test="updateTime != null">and UPDATE_TIME = #{updateTime}</if>
            <if test="deleteTime != null">and DELETE_TIME = #{deleteTime}</if>
            <if test="addUserId != null and addUserId != 0">and ADD_USER_ID = #{addUserId}</if>
            <if test="updateUserId != null and updateUserId != 0">and UPDATE_USER_ID = #{updateUserId}</if>
            <if test="deleteUserId != null and deleteUserId != 0">and DELETE_USER_ID = #{deleteUserId}</if>
            <if test="deleteFlag != null ">and DELETE_FLAG = #{deleteFlag}</if>
            <if test="remark != null and remark != ''">and REMARK = #{remark}</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.pbh.journey.system.pojo.domain.LoginNo">
        insert into login_no(
        <include refid="table_columns"/>
        )
        values (
        <include refid="entity_properties"/>
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into login_no(
        <include refid="table_columns"/>
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.userAccount},
            #{item.userPwd},
            #{item.type},
            #{item.wechatUnionId},
            #{item.addTime},
            #{item.updateTime},
            #{item.deleteTime},
            #{item.addUserId},
            #{item.updateUserId},
            #{item.deleteUserId},
            #{item.deleteFlag},
            #{item.remark}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from login_no
        where id = #{id}
    </delete>

    <update id="deleteBatch">
        update login_no set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteLogic" parameterType="java.lang.Long">
        update login_no set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id = #{id}
    </update>

    <update id="update" parameterType="com.pbh.journey.system.pojo.domain.LoginNo">
        update login_no
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null and userId != 0">USER_ID = #{userId},</if>
            <if test="userAccount != null and userAccount != ''">USER_ACCOUNT = #{userAccount},</if>
            <if test="userPwd != null and userPwd != ''">USER_PWD = #{userPwd},</if>
            <if test="type != null">and TYPE = #{type},</if>
            <if test="wechatUnionId != null and wechatUnionId != ''">WECHAT_UNION_ID = #{wechatUnionId},</if>
            <if test="addTime != null">and ADD_TIME = #{addTime},</if>
            <if test="updateTime != null">and UPDATE_TIME = #{updateTime},</if>
            <if test="deleteTime != null">and DELETE_TIME = #{deleteTime},</if>
            <if test="addUserId != null and addUserId != 0">ADD_USER_ID = #{addUserId},</if>
            <if test="updateUserId != null and updateUserId != 0">UPDATE_USER_ID = #{updateUserId},</if>
            <if test="deleteUserId != null and deleteUserId != 0">DELETE_USER_ID = #{deleteUserId},</if>
            <if test="deleteFlag != null">and DELETE_FLAG = #{deleteFlag},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            update login_no
            <trim prefix="set" suffixOverrides=",">
                <if test="item.userId != null and item.userId != 0">USER_ID = #
                    {item.userId},
                </if>
                <if test="item.userAccount != null and item.userAccount != ''">USER_ACCOUNT = #
                    {item.userAccount},
                </if>
                <if test="item.userPwd != null and item.userPwd != ''">USER_PWD = #
                    {item.userPwd},
                </if>
                <if test="item.type != null">TYPE = #{item.type},</if>
                <if test="item.wechatUnionId != null and item.wechatUnionId != ''">WECHAT_UNION_ID = #
                    {item.wechatUnionId},
                </if>
                <if test="item.addTime != null">ADD_TIME = #{item.addTime},</if>
                <if test="item.updateTime != null">UPDATE_TIME = #{item.updateTime},</if>
                <if test="item.deleteTime != null">DELETE_TIME = #{item.deleteTime},</if>
                <if test="item.addUserId != null and item.addUserId != 0">ADD_USER_ID = #
                    {item.addUserId},
                </if>
                <if test="item.updateUserId != null and item.updateUserId != 0">UPDATE_USER_ID = #
                    {item.updateUserId},
                </if>
                <if test="item.deleteUserId != null and item.deleteUserId != 0">DELETE_USER_ID = #
                    {item.deleteUserId},
                </if>
                <if test="item.deleteFlag != null">DELETE_FLAG = #{item.deleteFlag},</if>
                <if test="item.remark != null and item.remark != ''">REMARK = #
                    {item.remark},
                </if>
            </trim>
            <where>id = #{item.id}</where>
        </foreach>
    </update>

    <select id="findAll" resultMap="loginNoResultMap">
        select
        <include refid="table_columns"/>
        from login_no order USER_ID,USER_ACCOUNT
    </select>

    <select id="findList" resultMap="loginNoResultMap">
        select
        <include refid="table_columns"/>
        from login_no
        <include refid="page_where"/>
        order USER_ID,USER_ACCOUNT
    </select>

    <select id="getCount" resultType="int">
        select count(id) from login_no
        <include refid="page_where"/>
    </select>


    <select id="get" resultMap="loginNoResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_columns"/>
        from login_no
        where id = #{id} and DELETE_FLAG = 1
    </select>

    <!-- 其他自定义SQL -->

    <!--用户DTO 数据库字段-->
    <sql id="user_table_columns">
            S.ID,
            S.NICK_NAME,
            S.REAL_NAME,
            S.ID_CARD,
            S.MAILBOX,
            S.MOBILE,
            S.STATE,
            S.LAST_PWDMOD_TIME,
            S.DEVICE_ID,
            S.ADD_TIME,
            S.UPDATE_TIME,
            S.DELETE_TIME,
            S.ADD_USER_ID,
            S.UPDATE_USER_ID,
            S.DELETE_USER_ID,
            S.DELETE_FLAG,
            S.REMARK,
            L.DELETE_FLAG as login_no_delete_flag,
            L.user_account,
            L.user_pwd,
            L.type
    </sql>

    <!--用户DTO Map-->
    <resultMap type="com.pbh.journey.system.pojo.dto.SysUserDTO" id="sysUserDtoResultMap">
        <result property="id" column="ID"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="realName" column="REAL_NAME"/>
        <result property="idCard" column="ID_CARD"/>
        <result property="mailbox" column="MAILBOX"/>
        <result property="mobile" column="MOBILE"/>
        <result property="state" column="STATE"/>
        <result property="lastPwdmodTime" column="LAST_PWDMOD_TIME"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="addTime" column="ADD_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="deleteTime" column="DELETE_TIME"/>
        <result property="addUserId" column="ADD_USER_ID"/>
        <result property="updateUserId" column="UPDATE_USER_ID"/>
        <result property="deleteUserId" column="DELETE_USER_ID"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="remark" column="REMARK"/>
        <result property="loginNoDeleteFlag" column="login_no_delete_flag"/>
        <result property="userAccount" column="user_account"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="type" column="type"/>
    </resultMap>

    <!--用户登录-->
    <select id="login" parameterType="com.pbh.journey.system.pojo.domain.LoginNo" resultMap="sysUserDtoResultMap">
        select
        <include refid="user_table_columns"/>
        from login_no l
        LEFT JOIN sys_user s on l.user_id = s.id
        WHERE  l.type = #{type}
        and l.user_account = #{userAccount}
    </select>

    <!--用户登录账号查询-->
    <select id="loginNoExist" parameterType="java.lang.String" resultMap="sysUserDtoResultMap">
        select
        <include refid="user_table_columns"/>
        from login_no l
        WHERE l.user_account = #{userAccount}
    </select>

    <!--修改密码-->
    <update id="updatePwd" parameterType="com.pbh.journey.system.pojo.dto.LoginNoDTO">
        update login_no set user_pwd = #{newUserPwd} where id = #{id}
    </update>

    <!--修改登录账号-->
    <update id="updateUserAccount" parameterType="com.pbh.journey.system.pojo.dto.LoginNoDTO">
        update login_no l set l.user_account = #{newUserAccount} where l.user_account = #{userAccount} and l.type =#{type}
    </update>

</mapper>
