<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbh.journey.system.app.mapper.SysPermissionMapper">
    <resultMap type="com.pbh.journey.system.pojo.domain.SysPermission" id="sysPermissionResultMap">
        <result property="id" column="ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="isMenu" column="IS_MENU"/>
        <result property="level" column="LEVEL"/>
        <result property="permissionUrl" column="PERMISSION_URL"/>
        <result property="permissionDesc" column="PERMISSION_DESC"/>
        <result property="systemCode" column="SYSTEM_CODE"/>
        <result property="needCsrf" column="NEED_CSRF"/>
        <result property="order" column="ORDER"/>
        <result property="permissionType" column="PERMISSION_TYPE"/>
        <result property="addTime" column="ADD_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="deleteTime" column="DELETE_TIME"/>
        <result property="addUserId" column="ADD_USER_ID"/>
        <result property="updateUserId" column="UPDATE_USER_ID"/>
        <result property="deleteUserId" column="DELETE_USER_ID"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="remark" column="REMARK"/>
    </resultMap>

    <sql id="table_columns">
            ID,
            PARENT_ID,
            IS_MENU,
            LEVEL,
            PERMISSION_URL,
            PERMISSION_DESC,
            SYSTEM_CODE,
            NEED_CSRF,
            ORDER,
            PERMISSION_TYPE,
            ADD_TIME,
            UPDATE_TIME,
            DELETE_TIME,
            ADD_USER_ID,
            UPDATE_USER_ID,
            DELETE_USER_ID,
            DELETE_FLAG,
            REMARK
    </sql>
    <sql id="entity_properties">
            #{id},
            #{parentId},
            #{isMenu},
            #{level},
            #{permissionUrl},
            #{permissionDesc},
            #{systemCode},
            #{needCsrf},
            #{order},
            #{permissionType},
            #{addTime},
            #{updateTime},
            #{deleteTime},
            #{addUserId},
            #{updateUserId},
            #{deleteUserId},
            #{deleteFlag},
            #{remark}
    </sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="id != null and id != 0">and ID = #{id}</if>
            <if test="parentId != null and parentId != 0">and PARENT_ID = #{parentId}</if>
            <if test="isMenu != null">and IS_MENU = #{isMenu}</if>
            <if test="level != null">and LEVEL = #{level}</if>
            <if test="permissionUrl != null and permissionUrl != ''">and PERMISSION_URL = #{permissionUrl}</if>
            <if test="permissionDesc != null and permissionDesc != ''">and PERMISSION_DESC = #{permissionDesc}</if>
            <if test="systemCode != null and systemCode != ''">and SYSTEM_CODE = #{systemCode}</if>
            <if test="needCsrf != null">and NEED_CSRF = #{needCsrf}</if>
            <if test="order != null">and ORDER = #{order}</if>
            <if test="permissionType != null and permissionType != ''">and PERMISSION_TYPE = #{permissionType}</if>
            <if test="addTime != null">and ADD_TIME = #{addTime}</if>
            <if test="updateTime != null">and UPDATE_TIME = #{updateTime}</if>
            <if test="deleteTime != null">and DELETE_TIME = #{deleteTime}</if>
            <if test="addUserId != null and addUserId != 0">and ADD_USER_ID = #{addUserId}</if>
            <if test="updateUserId != null and updateUserId != 0">and UPDATE_USER_ID = #{updateUserId}</if>
            <if test="deleteUserId != null and deleteUserId != 0">and DELETE_USER_ID = #{deleteUserId}</if>
            <if test="deleteFlag != null">and DELETE_FLAG = #{deleteFlag}</if>
            <if test="remark != null and remark != ''">and REMARK = #{remark}</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.pbh.journey.system.pojo.domain.SysPermission">
        insert into sys_permission(
        <include refid="table_columns"/>
        )
        values (
        <include refid="entity_properties"/>
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_permission(
        <include refid="table_columns"/>
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.parentId},
            #{item.isMenu},
            #{item.level},
            #{item.permissionUrl},
            #{item.permissionDesc},
            #{item.systemCode},
            #{item.needCsrf},
            #{item.order},
            #{item.permissionType},
            #{item.addTime},
            #{item.updateTime},
            #{item.deleteTime},
            #{item.addUserId},
            #{item.updateUserId},
            #{item.deleteUserId},
            #{item.deleteFlag},
            #{item.remark}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_permission
        where id = #{id}
    </delete>

    <update id="deleteBatch">
        update sys_permission set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteLogic" parameterType="java.lang.Long">
        update sys_permission set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id = #{id}
    </update>

    <update id="update" parameterType="com.pbh.journey.system.pojo.domain.SysPermission">
        update sys_permission
        <trim prefix="set" suffixOverrides=",">
            <if test="parentId != null and parentId != 0">PARENT_ID = #{parentId},</if>
            <if test="isMenu != null">and IS_MENU = #{isMenu},</if>
            <if test="level != null">and LEVEL = #{level},</if>
            <if test="permissionUrl != null and permissionUrl != ''">PERMISSION_URL = #{permissionUrl},</if>
            <if test="permissionDesc != null and permissionDesc != ''">PERMISSION_DESC = #{permissionDesc},</if>
            <if test="systemCode != null and systemCode != ''">SYSTEM_CODE = #{systemCode},</if>
            <if test="needCsrf != null">and NEED_CSRF = #{needCsrf},</if>
            <if test="order != null">and ORDER = #{order},</if>
            <if test="permissionType != null and permissionType != ''">PERMISSION_TYPE = #{permissionType},</if>
            <if test="addTime != null">and ADD_TIME = #{addTime},</if>
            <if test="updateTime != null">and UPDATE_TIME = #{updateTime},</if>
            <if test="deleteTime != null">and DELETE_TIME = #{deleteTime},</if>
            <if test="addUserId != null and addUserId != 0">ADD_USER_ID = #{addUserId},</if>
            <if test="updateUserId != null and updateUserId != 0">UPDATE_USER_ID = #{updateUserId},</if>
            <if test="deleteUserId != null and deleteUserId != 0">DELETE_USER_ID = #{deleteUserId},</if>
            <if test="deleteFlag != null">and DELETE_FLAG = #{deleteFlag},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            update sys_permission
            <trim prefix="set" suffixOverrides=",">
                <if test="item.parentId != null and item.parentId != 0">PARENT_ID = #
                    {item.parentId},
                </if>
                <if test="item.isMenu != null">IS_MENU = #{item.isMenu},</if>
                <if test="item.level != null">LEVEL = #{item.level},</if>
                <if test="item.permissionUrl != null and item.permissionUrl != ''">PERMISSION_URL = #
                    {item.permissionUrl},
                </if>
                <if test="item.permissionDesc != null and item.permissionDesc != ''">PERMISSION_DESC = #
                    {item.permissionDesc},
                </if>
                <if test="item.systemCode != null and item.systemCode != ''">SYSTEM_CODE = #
                    {item.systemCode},
                </if>
                <if test="item.needCsrf != null">NEED_CSRF = #{item.needCsrf},</if>
                <if test="item.order != null">ORDER = #{item.order},</if>
                <if test="item.permissionType != null and item.permissionType != ''">PERMISSION_TYPE = #
                    {item.permissionType},
                </if>
                <if test="item.addTime != null">ADD_TIME = #{item.addTime},</if>
                <if test="item.updateTime != null">UPDATE_TIME = #{item.updateTime},</if>
                <if test="item.deleteTime != null">DELETE_TIME = #{item.deleteTime},</if>
                <if test="item.addUserId != null and item.addUserId != 0">ADD_USER_ID = #
                    {item.addUserId},
                </if>
                <if test="item.updateUserId != null and item.updateUserId != 0">UPDATE_USER_ID = #
                    {item.updateUserId},
                </if>
                <if test="item.deleteUserId != null and item.deleteUserId != 0">DELETE_USER_ID = #
                    {item.deleteUserId},
                </if>
                <if test="item.deleteFlag != null">DELETE_FLAG = #{item.deleteFlag},</if>
                <if test="item.remark != null and item.remark != ''">REMARK = #
                    {item.remark},
                </if>
            </trim>
            <where>id = #{item.id}</where>
        </foreach>
    </update>

    <select id="findAll" resultMap="sysPermissionResultMap">
        select
        <include refid="table_columns"/>
        from sys_permission
    </select>

    <select id="findList" resultMap="sysPermissionResultMap">
        select
        <include refid="table_columns"/>
        from sys_permission
        <include refid="page_where"/>
    </select>

    <select id="getCount" resultType="int">
        select count(id) from sys_permission
        <include refid="page_where"/>
    </select>


    <select id="get" resultMap="sysPermissionResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_columns"/>
        from sys_permission
        where id = #{id} and DELETE_FLAG = 1
    </select>

    <!-- 其他自定义SQL -->
    <select id="urlGetPermission" resultMap="sysPermissionResultMap" parameterType="java.lang.String">
        select
        <include refid="table_columns"/>
        from sys_permission p
        where p.permission_url = #{url}
    </select>
</mapper>
