<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbh.journey.system.app.mapper.SysUserMapper">
    <resultMap type="com.pbh.journey.system.pojo.domain.SysUser" id="sysUserResultMap">
            <result property="id" column="ID"/>
            <result property="nickName" column="NICK_NAME"/>
            <result property="realName" column="REAL_NAME"/>
            <result property="idCard" column="ID_CARD"/>
            <result property="mailbox" column="MAILBOX"/>
            <result property="mobile" column="MOBILE"/>
            <result property="state" column="STATE"/>
            <result property="lastPwdmodTime" column="LAST_PWDMOD_TIME"/>
            <result property="deviceId" column="DEVICE_ID"/>
            <result property="addTime" column="ADD_TIME"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="deleteTime" column="DELETE_TIME"/>
            <result property="addUserId" column="ADD_USER_ID"/>
            <result property="updateUserId" column="UPDATE_USER_ID"/>
            <result property="deleteUserId" column="DELETE_USER_ID"/>
            <result property="deleteFlag" column="DELETE_FLAG"/>
            <result property="remark" column="REMARK"/>
    </resultMap>

    <sql id="table_columns">
            ID,
            NICK_NAME,
            REAL_NAME,
            ID_CARD,
            MAILBOX,
            MOBILE,
            STATE,
            LAST_PWDMOD_TIME,
            DEVICE_ID,
            ADD_TIME,
            UPDATE_TIME,
            DELETE_TIME,
            ADD_USER_ID,
            UPDATE_USER_ID,
            DELETE_USER_ID,
            DELETE_FLAG,
            REMARK
    </sql>
    <sql id="entity_properties">
            #{id},
            #{nickName},
            #{realName},
            #{idCard},
            #{mailbox},
            #{mobile},
            #{state},
            #{lastPwdmodTime},
            #{deviceId},
            #{addTime},
            #{updateTime},
            #{deleteTime},
            #{addUserId},
            #{updateUserId},
            #{deleteUserId},
            #{deleteFlag},
            #{remark}
    </sql>

    <!-- 使用like用法：columnName like concat('%',#{columnName},'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
               <if test="id != null and id != 0">and ID = #{id}</if>
            <if test="nickName != null and nickName != ''">and NICK_NAME = #{nickName}</if>
            <if test="realName != null and realName != ''">and REAL_NAME = #{realName}</if>
            <if test="idCard != null and idCard != ''">and ID_CARD = #{idCard}</if>
            <if test="mailbox != null and mailbox != ''">and MAILBOX = #{mailbox}</if>
            <if test="mobile != null and mobile != ''">and MOBILE = #{mobile}</if>
                <if test="state != null">and STATE = #{state}</if>
                <if test="lastPwdmodTime != null">and LAST_PWDMOD_TIME = #{lastPwdmodTime}</if>
            <if test="deviceId != null and deviceId != ''">and DEVICE_ID = #{deviceId}</if>
                <if test="addTime != null">and ADD_TIME = #{addTime}</if>
                <if test="updateTime != null">and UPDATE_TIME = #{updateTime}</if>
                <if test="deleteTime != null">and DELETE_TIME = #{deleteTime}</if>
               <if test="addUserId != null and addUserId != 0">and ADD_USER_ID = #{addUserId}</if>
               <if test="updateUserId != null and updateUserId != 0">and UPDATE_USER_ID = #{updateUserId}</if>
               <if test="deleteUserId != null and deleteUserId != 0">and DELETE_USER_ID = #{deleteUserId}</if>
                <if test="deleteFlag != null">and DELETE_FLAG = #{deleteFlag}</if>
            <if test="remark != null and remark != ''">and REMARK = #{remark}</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.pbh.journey.system.pojo.domain.SysUser">
        insert into sys_user(
        <include refid="table_columns"/>
        )
        values (
        <include refid="entity_properties"/>
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_user(
        <include refid="table_columns"/>
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
                    #{item.nickName},
                    #{item.realName},
                    #{item.idCard},
                    #{item.mailbox},
                    #{item.mobile},
                    #{item.state},
                    #{item.lastPwdmodTime},
                    #{item.deviceId},
                    #{item.addTime},
                    #{item.updateTime},
                    #{item.deleteTime},
                    #{item.addUserId},
                    #{item.updateUserId},
                    #{item.deleteUserId},
                    #{item.deleteFlag},
                    #{item.remark}
        )
        </foreach>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_user
        where id = #{id}
    </delete>

    <update id="deleteBatch">
        update sys_user set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
    </update>

    <update id="deleteLogic" parameterType="java.lang.Long">
        update sys_user set DELETE_FLAG = 2,DELETE_TIME = NOW()
        where id = #{id}
    </update>

    <update id="update" parameterType="com.pbh.journey.system.pojo.domain.SysUser">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="nickName != null and nickName != ''">NICK_NAME = #{nickName},</if>
            <if test="realName != null and realName != ''">REAL_NAME = #{realName},</if>
            <if test="idCard != null and idCard != ''">ID_CARD = #{idCard},</if>
            <if test="mailbox != null and mailbox != ''">MAILBOX = #{mailbox},</if>
            <if test="mobile != null and mobile != ''">MOBILE = #{mobile},</if>
            <if test="state != null">and STATE = #{state},</if>
            <if test="lastPwdmodTime != null">and LAST_PWDMOD_TIME = #{lastPwdmodTime},</if>
            <if test="deviceId != null and deviceId != ''">DEVICE_ID = #{deviceId},</if>
            <if test="addTime != null">and ADD_TIME = #{addTime},</if>
            <if test="updateTime != null">and UPDATE_TIME = #{updateTime},</if>
            <if test="deleteTime != null">and DELETE_TIME = #{deleteTime},</if>
            <if test="addUserId != null and addUserId != 0">ADD_USER_ID = #{addUserId},</if>
            <if test="updateUserId != null and updateUserId != 0">UPDATE_USER_ID = #{updateUserId},</if>
            <if test="deleteUserId != null and deleteUserId != 0">DELETE_USER_ID = #{deleteUserId},</if>
            <if test="deleteFlag != null">and DELETE_FLAG = #{deleteFlag},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            update sys_user
            <trim prefix="set" suffixOverrides=",">
						<if test="item.nickName != null and item.nickName != ''">NICK_NAME = #
                            {item.nickName},
                        </if>
						<if test="item.realName != null and item.realName != ''">REAL_NAME = #
                            {item.realName},
                        </if>
						<if test="item.idCard != null and item.idCard != ''">ID_CARD = #
                            {item.idCard},
                        </if>
						<if test="item.mailbox != null and item.mailbox != ''">MAILBOX = #
                            {item.mailbox},
                        </if>
						<if test="item.mobile != null and item.mobile != ''">MOBILE = #
                            {item.mobile},
                        </if>
                        <if test="item.state != null">STATE = #{item.state},</if>
                        <if test="item.lastPwdmodTime != null">LAST_PWDMOD_TIME = #{item.lastPwdmodTime},</if>
						<if test="item.deviceId != null and item.deviceId != ''">DEVICE_ID = #
                            {item.deviceId},
                        </if>
                        <if test="item.addTime != null">ADD_TIME = #{item.addTime},</if>
                        <if test="item.updateTime != null">UPDATE_TIME = #{item.updateTime},</if>
                        <if test="item.deleteTime != null">DELETE_TIME = #{item.deleteTime},</if>
                        <if test="item.addUserId != null and item.addUserId != 0">ADD_USER_ID = #
                            {item.addUserId},
                        </if>
                        <if test="item.updateUserId != null and item.updateUserId != 0">UPDATE_USER_ID = #
                            {item.updateUserId},
                        </if>
                        <if test="item.deleteUserId != null and item.deleteUserId != 0">DELETE_USER_ID = #
                            {item.deleteUserId},
                        </if>
                        <if test="item.deleteFlag != null">DELETE_FLAG = #{item.deleteFlag},</if>
						<if test="item.remark != null and item.remark != ''">REMARK = #
                            {item.remark},
                        </if>
            </trim>
            <where>id = #{item.id}</where>
        </foreach>
    </update>

    <select id="findAll" resultMap="sysUserResultMap">
        select
        <include refid="table_columns"/>
        from sys_user
    </select>

    <select id="findList" resultMap="sysUserResultMap">
        select
        <include refid="table_columns"/>
        from sys_user
        <include refid="page_where"/>
    </select>

    <select id="getCount" resultType="int">
        select count(id) from sys_user
        <include refid="page_where"/>
    </select>


    <select id="get" resultMap="sysUserResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_columns"/>
        from sys_user
        where id = #{id} and DELETE_FLAG = 1
    </select>

    <!-- 其他自定义SQL -->
</mapper>
